= form_for @workout do |form|
  - if workout.errors.any?
    #error_explanation
      %h2
        = pluralize(workout.errors.count, "error")
        prohibited this workout from being saved:
      %ul
        - workout.errors.full_messages.each do |message|
          %li= message

  .field
    = form.label :workout_name
    = form.text_field :workout_name

  .field
    = form.label :numb_of_sets
    = form.text_field :numb_of_sets

  .field
    = form.label :numb_of_reps
    = form.text_field :numb_of_reps

  .field
    = form.label :amount_of_weight
    = form.text_field :amount_of_weight

  .actions
    = form.submit
