%p#notice= notice
%h1 Workouts
- @workouts.each do |workout|
  %section.testClass
    %ul
      %h3= workout.workout_name
      %li= "Number of Sets"
      %li= workout.numb_of_sets
      %li= "Number of Reps"
      %li= workout.numb_of_reps
      %li= "Amount of Weight"
      %li= workout.amount_of_weight

      %li= link_to 'Edit', edit_workout_path(workout)
      %li= link_to 'Delete', workout, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Workout', new_workout_path
