<%= form_with(model: salary, local: true) do |form| %>
  <% if salary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(salary.errors.count, "error") %> prohibited this salary from being saved:</h2>

      <ul>
      <% salary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :salary_annual %>
    <%= form.text_field :salary_annual %>
  </div>

  <div class="field">
    <%= form.label :salary_hourly %>
    <% unless salary.salary_hourly.nil? %>
      <%= salary.salary_hourly %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
